<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/stylesheet.css" />
  <title>News</title>
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Airline Management</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/news}">News</a></li>
        <li><a th:href="@{/flights}">Status</a></li>
        
        <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/logout">Logout</a></li>
        
        <li sec:authorize="isAuthenticated()"><a th:href="@{/flight/new}">Book a flight</a></li>
      </ul>
    </div>
  </nav>

	<p class = "text-center" style = "font-size: 50px" sec:authoriz>Must be logged in! </p>


  <table class="table" sec:authorize = "isAuthenticated()">
  <thead>
    <tr>
      <th scope="col">Flight ID: </th>
      <th scope="col">Departure</th>
      <th scope="col">Destination</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each = "flight : ${flights}">
      <th scope="row"></th>
      <td th:text = "${flight.departure}"></td>
      <td th:text = "${flight.destination}"></td>
      <td th:text = "${flight.status}"></td>
    </tr>
  </tbody>
</table>






  
</body>
</html>